* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  aling-content: center;
}

body {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
}

.timer {
  background-color: green;
  width: 200px;
  border-radius: 5px;
}

.bton-display {
  display: grid;
}

#start_button {
}

.hide {
  display: none;
}

.timer {
}

#questions {
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  padding: 15px 45px;
}

#questions ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  list-style: none;
}
#questions h2 {
  text-align: center;
  padding: 15px 0px;
}
#questions li {
  width: 48%;
  padding: 15px;
  background-color: rgba(46, 137, 176, 0.819);
}
#questions li:hover {
  cursor: pointer;
  border: 2px solid dodgerblue;
}
